$primaryColor : #00cc99;
$secondaryColor: #f6f6f6;
$textColor: #333;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

//字級與行高計算
$baseSize: 12px;
$sizeLevel: 4px;
$paddingLevel: 1.2;
$baseLineSize: 10px;

@function font($level: 0){
   @if $level < 0 {
       $level: 0;
   }
   @return $baseSize + $sizeLevel * round($level);
}

@function rhythm($size){
    @return ceil($size * $paddingLevel / $baseLineSize) * $baseLineSize;
}

@mixin font($level:1, $line-height:auto){
    $size: font($level); //16px 預設一級字
    $line: rhythm($size); //20px 預設一級行高

    font-size: $size;
    @if $line-height == auto or $line-height < $line{
        line-height: $line;
    } @else{
        line-height: $line-height;
    }
    //如果你傳進來的行高是auto，或你傳進來的比我算的小
    //請用我算的 $line
    //如果你傳進來的比我算的大，就用傳進來的 $line-height
}

// 共用 margin padding
// Margin & Padding
$spaceamounts:(1,2,3,4,5);

@each $space in $spaceamounts {
    //All around Margin
    .m-#{$space}{
       margin: #{$space}rem;
   }
    // Vertical Margin
    .my-#{$space}{
       margin: #{$space}rem 0 ;
   }   
    //All around Padding
    .p-#{$space}{
       padding: #{$space}rem;
   }
    // Vertical Padding
    .py-#{$space}{
       padding: #{$space}rem 0 ;
   }  
}